<h1 class="title">gallery</h1>

<% if (page === "portrait") { %>
<div>Portrait</div>
<% }else if(page === "travel") { %>
<div>Travel</div>
<% }else if(page === "outdoor") { %>
<div>Outdoor</div>
<% } %>

<div>deploy test</div>
