<footer class="footer">
  <div>Copyright © 2024 YUMI LIM. All rights reserved.</div>
  <div class="footer_right">
    <a href="https://www.instagram.com/space.caroline/" target="_blank">
      <img class="instagram" src="/assets/imgs/instagram.png"
    /></a>
    <img class="logo" src="/assets/imgs/Logo.png" />
  </div>
</footer>
