<header class="header">
  <div class="logo">
    <a href="/"><img src="/assets/imgs/Logo.png" /></a>
  </div>
  <div><a href="/about">About</a></div>
  <div><a href="/portrait">Portrait</a></div>
  <div><a href="/travel">Travel</a></div>
  <div><a href="/outdoor">Outdoor</a></div>
  <div><a href="/contact">Contact</a></div>
</header>
