<div class="contact">
  <div class="contactinfo">
    <p>Contact US</p>
    <div>
      Thank you for reaching out ! <br />
      Please feel free to contact us with any photo or events related inquiries,
      <br />
      and we will get back to you shortly
    </div>
    <p>instagram</p>
    <a href="https://www.instagram.com/space.caroline/" target="_blank">
      <img class="instagram" src="/assets/imgs/instagram.png"
    /></a>
  </div>
  <div class="form">
    <form action="mailto:yumimm@naver.com" method="post" enctype="text/plain">
      <div>
        Name:<br />
        <input type="text" name="name" />
      </div>
      <div>
        E-mail:<br />
        <input type="email" name="mail" />
      </div>
      <div>
        Comment:<br />
        <input type="text" name="comment" size="200" /><br /><br />
        <input type="submit" value="Send" />
        <input type="reset" value="Reset" />
      </div>
    </form>
  </div>
</div>
