<div class="introduce">
  <div class="introduce_detail">
    <p>Take pictures to share memories</p>
    <br />
    Your one moment <br />
    a scene in one's memory<br />
    Today's small scene <br /><br />
    <b> I want to be a photographer who can capture today's warm moments </b>
  </div>
  <div class="introduce_image">
    <img src="/assets/imgs/introduce.jpg" />
  </div>
</div>
