<div class="menu">
  <a href="/portrait" class="menu_component">
    <img src="/assets/imgs/main-portrait.jpg" />
    <p>Portrait</p>
  </a>
  <a href="/travel" class="menu_component">
    <img src="/assets/imgs/main-travel.jpg" />
    <p>Travel</p>
  </a>
  <a href="/outdoor" class="menu_component">
    <img src="/assets/imgs/main-outdoor.jpg" />
    <p>Outdoor</p>
  </a>

  <a href="/about" class="menu_component">
    <img src="/assets/imgs/main-introduce.jpg" />
    <p>Introduce</p>
  </a>
</div>
